$yellow: #ffe600;
$black: #333333;
$darkgray: #666666;
$gray: #999999;
$white: #eeeeee;
$blue: #3483fa;

$searchBoxFontSize: 18px;

@mixin centeredDiv {
  justify-content: center;
  align-items: center;
  display: flex;
}
